body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.footer .shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 300;
  font-style: normal;
}
/* HomePage - Logo */
header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.logo {
  text-align: center;
  padding: 5px;
}
.logo img {
  max-width: 150px;
  height: auto;
}
/* HomePage - Location */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2; /* Gray background */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.location i {
  margin-right: 10px;
}
/* HomePage - Restaurant Description */
.description {
  background-color: #f7f7f7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  text-align: center;
}
.description p {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 10px;
}
/* HomePage - Explore our restaurant - Button */
.gradient-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-image 0.3s;
}
.gradient-button:hover {
  background-image: linear-gradient(170deg, #ff79da 50%, #9356dc 100%);
}
/* HomePage - How it works - list */
#how-it-works,
.restaurant-cards {
  margin: 40px;
}
#how-it-works ol {
  list-style-type: none;
  padding: 10px;
  counter-reset: step;
}
/* list box */
#how-it-works li {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px 15px;
  position: relative;
  display: flex;
}
/* List number */
#how-it-works li:before {
  content: counter(step);
  counter-increment: step;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}
#how-it-works svg {
  width: 16px;
  margin: 0 10px;
}
#how-it-works li:hover {
  background-color: #e4d5f5;
}
#how-it-works li:hover svg {
  fill: #9356dc;
}
/* Restaurant list */
.restaurant-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 200px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.restaurant-list .card {
  flex: 0 0 calc(50% - 20px);
  margin: 30px 5px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.restaurant-list .card .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.restaurant-list .image {
  position: relative;
}

.restaurant-list .image img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.restaurant-list .label {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #107159;
  padding: 5px 25px;
  border-radius: 5px;
}

.restaurant-list .content {
  padding: 15px;
  background-color: #fff;
}

.restaurant-list .content h3 {
  margin-top: 0;
}

.restaurant-list .content p {
  color: lightgray;
}

.restaurant-list .icon {
  text-align: right;
  padding: 5px 15px;
  background-color: #fff;
  font-size: 20px;
}
.restaurant-list .icon i:hover {
  color: #ff79da;
}
/* Footer */

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer i {
  margin-right: 10px;
}
.diagonal-icon i {
  position: relative;
  left: 8px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  margin-right: 5px;
}

.footer p {
  margin: 0;
  padding: 5px 10px;
}

/* MENU PAGE  */
/* Page header */
#menu-page header {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.back-link {
  padding: 0 30px;
  text-decoration: none;
  font-size: 16px;
}
/* Food Image */
.restaurant-image {
  width: 100%;
  height: auto;
}
.image-wrapper {
  overflow: hidden;
  position: relative;
}
/* Restaurant Menu Card */
.restaurant-menu {
  background-color: #f2efef;
  padding: 20px;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -50px;
}
/* Restaurant name and heart */
.restaurant-menu h1 {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", serif;
  font-size: 26px;
}
/* Menu courses with line below */
.restaurant-menu h2 {
  color: #878484;
  font-weight: normal;
  display: inline-block;
  position: relative;
}
.restaurant-menu h2::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: calc(1ch * 5);
  border-bottom: 3px solid #99e2d0;
}
/* List of menu */
.restaurant-menu ul {
  list-style: none;
  padding: 10px;
}
.restaurant-menu li {
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 5px 20px;
  display: block;
}
.restaurant-menu p {
  display: flex;
  justify-content: space-between;
}
.restaurant-menu p span {
  font-weight: bold;
}
