body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
/* HomePage - Logo */
header {
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.logo {
  padding: 5px;
}
.logo img {
  max-width: 150px;
  height: auto;
}
/* HomePage - Location */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2; /* Gray background */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.location i {
  margin-right: 10px;
}
/* HomePage - Restaurant Description */
.description {
  background-color: #f7f7f7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  text-align: center;
}
.description p {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 10px;
}
/* HomePage - Explore our restaurant - Button */
.gradient-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-image 0.3s;
}
.gradient-button:hover {
  background-image: linear-gradient(170deg, #ff79da 50%, #9356dc 100%);
}
/* HomePage - How it works - list */
.how-it-works {
  margin: 30px;
}
.how-it-works ol {
  list-style-type: none;
  padding: 10px;
  counter-reset: step;
}
/* list box */
.how-it-works li {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px 15px;
  position: relative;
  display: flex;
}
/* List number */
.how-it-works li:before {
  content: counter(step);
  counter-increment: step;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}
svg {
  width: 16px;
  margin: 0 10px;
}
.how-it-works li:hover {
  background-color: #e4d5f5;
}
.how-it-works li:hover svg {
  fill: #9356dc;
}
