body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.footer .shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 300;
  font-style: normal;
}
/* HomePage - Logo */
header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.logo {
  text-align: center;
  padding: 5px;
}
.logo img {
  max-width: 150px;
  height: auto;
}
/* HomePage - Location */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2; /* Gray background */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.location i {
  margin-right: 10px;
}
/* HomePage - Restaurant Description */
.description {
  background-color: #f7f7f7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  text-align: center;
}
.description p {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 10px;
}
/* HomePage - Explore our restaurant - Button */
.gradient-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-image 0.3s;
}
.gradient-button:hover {
  background-image: linear-gradient(170deg, #ff79da 50%, #9356dc 100%);
}
/* HomePage - How it works - list */
#how-it-works,
.restaurant-cards {
  margin: 40px;
}
#how-it-works ol {
  list-style-type: none;
  padding: 10px;
  counter-reset: step;
}
/* list box */
#how-it-works li {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px 15px;
  position: relative;
  display: flex;
}
/* List number */
#how-it-works li:before {
  content: counter(step);
  counter-increment: step;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}
#how-it-works svg {
  width: 16px;
  margin: 0 10px;
}
#how-it-works li:hover {
  background-color: #e4d5f5;
}
#how-it-works li:hover svg {
  fill: #9356dc;
}
/* Restaurant list */
.restaurant-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.restaurant-list .card {
  flex: 0 0 calc(50% - 20px);
  margin: 30px 5px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.restaurant-list .card .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.restaurant-list .image {
  position: relative;
}

.restaurant-list .image img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.restaurant-list .label {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #107159;
  padding: 5px 25px;
  border-radius: 5px;
}

.restaurant-list .content {
  padding: 15px;
  background-color: #fff;
}

.restaurant-list .content h3 {
  margin-top: 0;
}

.restaurant-list .content p {
  color: lightgray;
}

.restaurant-list .icon {
  text-align: right;
  padding: 5px 15px;
  background-color: #fff;
  font-size: 20px;
}
.restaurant-list .icon i:hover {
  color: #ff79da;
}
/* Footer */

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.footer i {
  margin-right: 10px;
}
.diagonal-icon i {
  position: relative;
  left: 8px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  margin-right: 5px;
}

.footer p {
  margin: 0;
  padding: 5px 10px;
}
.footer a {
  color: inherit;
  text-decoration: none;
}

/* MENU PAGE  */
/* Page header */
#menu-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back-link {
  padding-left: 30px;
  text-decoration: none;
  font-size: 16px;
}
.header-child {
  width: 44px;
}
/* Food Image */
.restaurant-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.image-wrapper {
  overflow: hidden;
  position: relative;
}
/* Restaurant Menu Card */
.restaurant-menu {
  background-color: #f2efef;
  padding: 20px;
  border-radius: 50px 50px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -50px;
  z-index: 1;
}

/* Restaurant name and heart */
.restaurant-menu h1 {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", serif;
  font-size: 32px;
}
/* Menu courses with line below */
.restaurant-menu h2 {
  color: #878484;
  font-weight: normal;
  display: inline-block;
  position: relative;
}
.restaurant-menu h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: calc(1ch * 5);
  border-bottom: 3px solid #99e2d0;
}
/* List of menu */
.restaurant-menu ul {
  list-style: none;
  padding: 10px;
}
.restaurant-menu li {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 5px 15px;
  display: block;
  overflow: hidden;
  transition: background-color 0.3s, padding-right 0.3s;
}
/* Loading Spinner */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  animation: disappear 2s;
  animation-fill-mode: forwards;
}
.loading-screen .spinner {
  margin: 0 auto;
  margin-top: 150px;
  width: 70px;
  height: 70px;
  background-color: transparent;
  animation: spin 2s linear infinite;

  border-radius: 100vw;
  border: 8px solid whitesmoke;
  border-bottom: none;
  border-left: none;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* Menu list on hover pulls in a check */
.restaurant-menu li::after {
  content: "\2713"; /* Check mark character */
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 20px;
  transform: translateY(-50%) scale(0); /* Hide initially */
  color: white;
  background-color: #ffffff; /* White background */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s, background-color 0.5s;
}
/* Show check mark */
.restaurant-menu li:hover::after {
  transform: translateY(-50%) translateX(-50%) scale(1);
  color: #55efc4;
}
.restaurant-menu li:hover {
  padding-right: 20%;
  background: linear-gradient(
    to left,
    #55efc4 0%,
    #55efc4 20%,
    #f7f7f7 20%,
    #f7f7f7 100%
  );
}
.restaurant-menu h3,
.restaurant-menu p {
  transition: transform 0.5s;
}
/* Push contents to the left */
.restaurant-menu li:hover span {
  transform: translateX(-10%);
  padding-right: 10px;
}
.restaurant-menu p {
  display: flex;
  justify-content: space-between;
  color: gray;
}
.restaurant-menu p span {
  font-weight: bold;
  color: black;
}
.restaurant-menu .order-button {
  text-align: center;
  padding: 10px;
}
